.fs-6 {
    color: rgb(226, 217, 245);
}

.container img {
    filter: brightness(50%);
}

.container-text {
    background-color: #1B98F5;
}

.text {
    color: #5DA3FA;
    width: 150px;
    border-color: #5DA3FA;
}

/* Media Quaries */
/* Mobail Device */
@media only screen and (max-width: 688px) {
    .carousel-item img {
        height: 50vh;
    }

    .course {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .course img {
        width: 500px;
    }

    .company {
        display: none;
    }

    .text-cent {
        display: none;
    }

    .navber {
        display: none;
    }

    .position-absolute {
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:688px) and (max-width:992px) {
    .navber {
        display: none;
    }

    .company {
        display: none;
    }

    .d-none {
        font-size: 10px;
    }

    .course img {
        width: 500px;
    }

    .Ready-Join {
        grid-template-rows: repeat(1, 1fr);
    }

    .Register {
        padding-top: 20px;
    }

    .pragraph {
        display: none;
    }

    .carousel-item {
        margin-left: 20px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .images {
        display: none;
    }
}